{% extends "layout.html" %}

{% block w3l_login %}
<div class="w3l_login">
	<a href="#" data-toggle="modal" data-target="#myModal88">
	<span class="glyphicon glyphicon-user" aria-hidden="true">
	</span></a>
</div>
{% endblock %}

{% block header_modal %}
<!-- null -->
{% endblock %}

{% block indexClass %}
<a href="/"> Inicio</a>
{% endblock %}

{% block productsClass %}
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
{% endblock %}

{% block aboutClass %}
	<a href="/about" class = "act">Acerca de Nosotros</a>
{% endblock %}

{% block supplierClass %}
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proveedores<span class="caret"></span></a>
{% endblock %}

{% block contactClass %}
<a href="/mail">Contactanos</a>
{% endblock %}


{% block content %}
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a> <i>/</i></li>
				<li>Acerca de nosotros</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs --> 
	<!-- about -->
	<div class="about">
		<div class="container">	
			<div class="w3ls_about_grids">
				<div class="col-md-6 w3ls_about_grid_left">
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse 
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
						cupidatat non proident, sunt in culpa qui officia deserunt mollit 
						anim id est laborum.</p>
					<div class="col-xs-2 w3ls_about_grid_left1">
						<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 w3ls_about_grid_left2">
						<p>Sunt in culpa qui officia deserunt mollit 
							anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse 
						cillum dolore eu fugiat nulla pariatur.</p>
					</div>
					<div class="clearfix"> </div>
					<div class="col-xs-2 w3ls_about_grid_left1">
						<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 w3ls_about_grid_left2">
						<p>Sunt in culpa qui officia deserunt mollit 
							anim id est laborum.Duis aute irure dolor in reprehenderit in voluptate velit esse 
						cillum dolore eu fugiat nulla pariatur.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3ls_about_grid_right">
					<img src="/static/images/52.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about --> 
	<!-- team -->
	<div class="team">
		<div class="container">
			<h3>Conoce nuestros socios</h3>
			<div class="wthree_team_grids">
				<div class="col-md-3 wthree_team_grid">
					<img src="/static/images/t4.png" alt=" " class="img-responsive" />
					<h4>Faber Castell <span>Manager</span></h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<img src="/static/images/t5.png" alt=" " class="img-responsive" />
					<h4>Tay Loy <span>Designer</span></h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<img src="/static/images/t6.png" alt=" " class="img-responsive" />
					<h4>Crisol <span>Director</span></h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 wthree_team_grid">
					<img src="/static/images/t7.png" alt=" " class="img-responsive" />
					<h4>Don pepito stationary<span>Quality Checker</span></h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
				<p>Nuestros socios estrategicos brindan sus productos mediante esta plataforma al publico general
					Cada socio es responsable de los estandares de calidad de sus 
					productos.</p>
			</div>
		</div>
	</div>
	<!-- //team -->
	<!-- team-bottom -->
	<div class="team-bottom">
		<div class="container">
			<h3>Estas listo para las ofertas? Obten <span>30% descuento </span>en Papeleria</h3>
			<p>Trae a tus amigos y contactos a esta plataforma y obtendras cupones y descuentos 
				Los codigos de los cupones seran enviados a tu correo una vez se complete el registro de
				referido.</p>
			<a href="products.html">Canjear Ahora</a>
		</div>
	</div>
	<!-- //team-bottom -->
{% endblock %}
