{% extends "layout.html" %}

{% block w3l_login %}
<div class="w3l_login">
	<a href="#" data-toggle="modal" data-target="#myModal88">
	<span class="glyphicon glyphicon-user" aria-hidden="true">
	</span></a>
</div>
{% endblock %}

{% block header_modal %}
<!-- null -->
{% endblock %}

{% block indexClass %}
<a href="/"> Inicio</a>
{% endblock %}

{% block productsClass %}
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos <b class="caret"></b></a>
{% endblock %}

{% block aboutClass %}
	<a href="/about" class = "dropdown-toggle">Acerca de Nosotros</a>
{% endblock %}

{% block supplierClass %}
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proveedores<span class="caret"></span></a>
{% endblock %}

{% block contactClass %}
<a href="/mail" class="act">Contactanos</a>
{% endblock %}


{% block content %}
	<!-- banner -->
	<div class="banner banner10">
		<div class="container">
			<h2>Envianos un correo</h2>
		</div>
	</div>
	<!-- //banner -->    
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a> <i>/</i></li>
				<li>Contactanos</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs --> 
	<!-- mail -->
	<div class="mail">
		<div class="container">
			<h3>Contactanos</h3>
			<div class="agile_mail_grids">
				<div class="col-md-5 contact-left">
					<h4>Direccion</h4>
					<p>Av. Independencia 105
						<span>Calle universitaria 2b, Facultad Ciencia Computacion, Unsa, Arequipa</span></p>
					<ul>
						<li>Telefono :+1 078 4589 2456</li>
						<li>Mobil :+1 078 4589 2456</li>
						<li>Fax :+1 078 4589 2456</li>
						<li><a href="mailto:info@example.com">rhualla@unsa.edu.pe</a></li>
					</ul>
				</div>
				<div class="col-md-7 contact-left">
					<h4>Formulario de contacto</h4>
					<form action="#" method="post">
						{% block contactDetails %}
						<input type="text" name="Name" placeholder="Tu Nombre" required="">
						<input type="email" name="Email" placeholder="Tu Correo" required="">
						<input type="text" name="Telephone" placeholder="Telefono" required="">
						{% endblock %}
						<textarea name="message" placeholder="Mensaje..." required=""></textarea>
						<input type="submit" value="Submit" >
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>

			<div class="contact-bottom">
				<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d96908.54934770924!2d-73.74913540000001!3d40.62123259999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sanimal+rescue+service+near+Inwood%2C+New+York%2C+NY%2C+United+States!5e0!3m2!1sen!2sin!4v1436335928062" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<!-- //mail -->
{% endblock %}
