{% extends "mail.html" %}

{% block w3l_login %}
<div class="w3l_login">
				<a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
			<div class="userID">
				<span>{{Email}}</span>
			</div>
</div>
{% endblock %}


{% block indexClass %}
<a href="/user"> Inicio</a>
{% endblock %}

{% block contactDetails %}
<!--<input type="text" name="Name" placeholder="Tu Nombre" required="">
<input type="email" name="Email" placeholder="Tu Correo" required="">
<input type="text" name="Telephone" placeholder="Telefono" required="">-->
{% endblock %}
